body {
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.game-option {
  height: 70px;
  border: 1px solid black;
  padding: 20px;
  background-color: rgb(86, 242, 253);
  border-radius: 10px;
}